{% extends 'generic_template.html' %}
{% load staticfiles %}

{% block content %}
    <div class="payment__section">
        <div class="payment__method">
            <div class="unit__title"><span class="unit__num">3</span>Оплата</div>
            <div class="payment__form">
                <form action="" method="">
                    <div class="checkbox__container">
                        <input type="radio" value="reception" name="paymethod" id="reception">
                        <label for="reception">При получении</label>
                    </div>
                    <div class="checkbox__container">
                        <input type="radio" value="online" name="paymethod" id="online">
                        <label for="online">Онлайн</label>
                    </div>
                </form>
            </div>
        </div>
        <div class="payment__partners">
            <div class="paypartners__item">
                <img src="{% static 'img/pay_webmoney.jpg' %}" alt="">
            </div>
            <div class="paypartners__item">
                <img src="{% static 'img/pay_yandex.png' %}" alt="">
            </div>
            <div class="paypartners__item">
                <img src="{% static 'img/pay_qivi.png' %}" alt="">
            </div>
            <div class="paypartners__item">
                <img src="{% static 'img/pay_visa.png' %}" alt="">
            </div>
        </div>
    </div>

{% endblock %}