{% extends 'generic_template.html' %}
{% load staticfiles %}
{% block content %}
    <div class="orderpage">
        <div class="wrapper">
            <div class="pr__order-container">
                <div class="pr-order">
                    <p class="unit__title"><span class="unit__num">1</span>Ваш заказ</p>
                    <div class="pr-order__box">
                        <div class="pr-order__table">
                            <div class="pr-order__head">
                                <p class="pr-order__element element__name">Наименование</p>
                                <p class="pr-order__element"></p>
                                <p class="pr-order__element element__price">Цена &#8381;</p>
                                <p class="pr-order__element element__amount">Количество</p>
                                <p class="pr-order__element element__sum">Сумма &#8381;</p>
                            </div>
                            {% for good, quontity, summ in goods %}
                                <div class="pr-order__item">
                                    <div class="item_photo"><a href="{% url 'shop:detail' good.id %}"><img
                                            src="{{ good.img_content.url }}" alt=""></a></div>
                                    <div class="item__name"><a
                                            href="{% url 'shop:detail' good.id %}">{{ good.name }}</a></div>
                                    <div class="item__price">{{ good.price }} руб.</div>
                                    <div class="item__count">
                                        <div class="order__quantity-container"><a href="#"
                                                                                  class="order__quantity-button order__minus">-</a>
                                            <input type="text" value="{{ quontity }}" name="order__count"
                                                   maxlength="4" class="order__count"><a href="#"
                                                                                         class="order__quantity-button order__plus">+</a>
                                        </div>
                                    </div>
                                    <div class="item__sum">{{ summ }} руб.</div>
                                    <div class="item__price">
                                        <a href="{% url 'shop:remove_good' %}?remove=good_{{ good.id }}">Видалити</a>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="pr-order__sum">
                            <p>Сумма:<span>{{ total_summ }} руб.</span></p>
                        </div>
                    </div>
                </div>
            </div>
            <a class="order__button" style="display: inline-block" href="{% url 'shop:order' %}">Заказать</a>
        </div>
    </div>
{% endblock %}