{% extends 'generic_template.html' %}
{% load staticfiles %}

{% block content %}
    <div class="orderpage">
        <div class="wrapper">
            <form action="{% url 'shop:order' %}" method="post">
                {% csrf_token %}
                <div class="pr__order-container">
                    <div class="pr-order">
                        <p class="unit__title"><span class="unit__num">1</span>
                            Ваш заказ: {{ total_quantity }} товаров Сумма: <span>{{ sum }} руб.</span></p>
                    </div>
                </div>
                <input type="hidden" name="{{ form.user.name }}" value="{{ user_id }}">

                <div class="pr__delivery">
                    <div class="unit__title"><span class="unit__num">2</span>Доставка</div>
                    <div class="checkbox-row recipient_wrap send_method">
                        <div class="checkbox__container del-check">
                            <input type="radio" name="{{ form.send.name }}" value="sendClient" id="sendClient">
                            <label for="sendClient">Я получу заказ</label>
                        </div>
                        <div class="checkbox__container del-check">
                            <input type="radio" name="{{ form.send.name }}" value="sendRecipient" id="sendRecipient"
                                   checked>
                            <label for="sendRecipient">Отправить заказ адресату</label>
                        </div>
                    </div>
                    <div class="pr__delivery-form send_recipient">
                        <div class="delivery__form_wrap">
                            <div class="inputs-row">
                                <div class="inputs-row__title">Получатель:</div>
                                <div class="inputs_wrap">
                                    <input type="text" placeholder="Фамилия" name="{{ form.receiver_lastname.name }}">
                                    <input type="text" placeholder="Имя" name="{{ form.receiver_name.name }}">
                                    <input type="text" placeholder="Отчество" name="{{ form.receiver_sename.name }}">
                                    <input type="text" placeholder="Телефон" name="{{ form.phone.name }}">
                                </div>
                            </div>
                            <div class="inputs-row adress-row">
                                <div class="inputs-row__title">Адрес доставки:</div>
                                <div class="adress_cont">
                                    <div class="input-cont_wrap">
                                        <input type="text" placeholder="Город" name="{{ form.address_city.name }}"
                                               class="option_field">
                                        {#                                        <a href="" class="location_link"></a>#}
                                    </div>
                                    <input type="text" placeholder="ул. Советская, д. 62, кв. 3"
                                           name="{{ form.address_local.name }}">
                                </div>
                            </div>
                            <div class="inputs-row">
                                <div class="checkbox__container card__container">
                                    <input type="checkbox" name="{{ form.receiver_card.name }}" id="card">
                                    <label for="card">Добавить открытку бесплатно</label>
                                </div>
                            </div>
                            <div class="inputs-row delivery__text">
                                <textarea name="{{ form.receiver_text.name }}" cols="20" rows="10"
                                          placeholder="Текст"></textarea>
                            </div>
                            <div class="inputs-row delivery__time-date">
                                <div class="inputs-row__title">Дата и время доставки:</div>
                                <div class="data-time_cont">
                                    <div class="input-cont_wrap">
                                        <input type="text" placeholder="08.03.16" name="{{ form.date_resive.name }}"
                                               class="option_field">
                                        {#                                        <a href="#" class="pr__delivery__date"></a>#}
                                    </div>
                                    <div class="input-cont_wrap time-input">
                                        <input type="text" placeholder="00.00" name="time" class="option_field">
                                        {#                                        <a href="#" class="pr__delivery__time"></a>#}
                                    </div>
                                    <div class="delivery__work-time">
                                        <span class="text__divide">* С 9.00 до 24.00 - 500 руб.</span>
                                        <span class="text__divide">Доставка в ночное время - 700 руб.</span>
                                    </div>
                                </div>
                            </div>
                            <div class="delivery__price">
                                <div class="price__delivery">
                                    <p class="price__name">Стоимость доставки составит:</p>
                                    <p class="price__sum">500 руб.</p>
                                </div>
                                <div class="pice__sum">
                                    <p class="price__name price__name_red">Итого:</p>
                                    <p class="price__sum price__sum_red">{{ sum_and_send }} руб.</p>
                                    <input type="hidden" name="{{ form.sum_total.name }}" value="{{ sum_and_send }}">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <input class="order__button" type="submit" value="Заказать">
            </form>


        </div>
    </div>
{% endblock %}